.page-teacher{
    margin-top: 8%;
}
.btn-new-course{
    margin-right: 5%;
    background-color: #666;
    color: #fff;
    height: 40px;
    margin-bottom: 2%;
}

/* Tabs*/
section {
    padding: 20px 60px 20px 60px;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #9e2a2b;
    font-size: 20px;
}